.DS_Store
.idea
.ipynb_checkpoints/
.vscode
__pycache__/
*.bin
*.pkl
*.pt
*.pyc
input.txt



# Model Files:
out*/
wandb
setup_wandb.py
misc
training-bimamba
dist
build
*.egg-info
logs*
rcp*
*.ipynb
data/USPTO/
notebooks
exp_*
